<div class="mt-5">
  <form action="/generate-url" method="POST">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">URL:</span>
      <input type="text" class="form-control" placeholder="Enter the website your want to create" aria-label="Username" aria-describedby="basic-addon1" name="url" value="{{ newUrl }}">
    </div>
    <div class="input-group mb-3 newShorten {{#if newShorten}}{{else}}hidden{{/if}}">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{ newShorten }}" disabled>
    </div>

    {{#if newShorten}}
    <div class="input-group mb-3 copy-btn">
      <a class="btn btn-secondary">Copy</a>
    </div>  
    {{else}} 
    <div class="input-group mb-3 gene-btn">
      <button type="submit" class="btn btn-secondary">Generate</button>
    </div>
    {{/if}}
    <div class="input-group mb-3 hidden copied-btn">
      <a class="btn btn-secondary">Copied</a>
    </div>
        
  </form>
</div>

{{!-- Javascripts --}}
<script src="/javascripts/index.js"></script>